footer{
    text-align: center;
    padding-top: $gutter;
    padding-bottom: $gutter;
    border-top: 1px solid $gray-700;
    margin-top: $gutter * 2;
    background-color: $gray-600;
    color: $white;
}