@@include('../layout/header.html')
<main class="container-fluid">
    <h1>Hello World!</h1>
    @@include('../components/hero.html', {
        'title': 'Title Hero',
        'subtitle': 'Lorem ipsum dolor sit amet.'
    })
    <section class="container">
        <h2>Title hierarchy 2</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit itaque quae accusantium, vitae autem illum quos perferendis ducimus laboriosam molestias quia, ad dolorem recusandae voluptas, eius libero quo eaque officiis est assumenda saepe modi hic aperiam. Enim aliquam rem fugit laboriosam necessitatibus, ducimus obcaecati aperiam quam in non minima hic temporibus. Quibusdam magni quas delectus facere dolorum, magnam aspernatur recusandae neque minima illum quos, iure sint blanditiis ratione at quia assumenda cupiditate deleniti tenetur ex distinctio eum, a minus. Est mollitia earum voluptate repellat repudiandae aspernatur ipsum. Quaerat doloribus aperiam ipsum, odio amet maxime, dolore officiis repellat ex, excepturi eos?</p>
            <ul>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, esse.</li>
                <li>Adipisci et ab, ea voluptatum culpa numquam temporibus eveniet corrupti.</li>
                <li>Quis deserunt error illum magni corporis quam a molestiae ipsum!</li>
                <li>Sunt suscipit cum possimus consectetur eligendi dolorum voluptatibus neque nostrum.</li>
                <li>Aspernatur magnam, ipsam explicabo corporis assumenda vero aliquam magni cupiditate!</li>
            </ul>
        <p>Alias voluptates doloremque accusantium magni dolorum laudantium possimus odio quaerat temporibus et quod accusamus, adipisci autem iure eaque, nesciunt modi officiis similique harum. Libero hic harum repellendus inventore, animi vero voluptate unde. Pariatur fugiat aliquid magnam officia vero assumenda consequuntur molestias. Quos maiores harum consectetur? Officiis nulla aliquid accusamus corrupti maiores iusto mollitia voluptatum similique repellendus. Velit accusantium minima animi! Ut, possimus quae earum consequuntur esse placeat velit ipsa. Id illum corrupti maxime nihil veniam unde saepe? Tenetur sit, neque perspiciatis eum perferendis iusto? Illo expedita totam, voluptatem corporis suscipit quidem sequi, magni delectus eaque accusantium molestiae necessitatibus amet? Placeat.</p>
        <p>Voluptatibus suscipit maxime vel nam, est sit. Adipisci, id aliquam. Ab laboriosam fugit cum nisi obcaecati doloremque nobis distinctio amet optio accusamus corporis architecto consequuntur incidunt eaque, fuga laudantium? Hic, fugiat accusamus dolor fuga deserunt non inventore voluptates tempore? Odit quis dolorem at possimus minus tempora incidunt quae officia error deserunt consequatur obcaecati architecto veritatis recusandae excepturi eum expedita ducimus placeat eius exercitationem ipsam, molestias dolor beatae! Exercitationem nostrum, illo quam beatae alias velit qui nobis consequatur illum perferendis! Sunt necessitatibus ratione voluptatum nesciunt, cumque earum, magnam id quo natus illum odit ex omnis saepe quae, atque non. Veniam, vitae?</p>
    </section>
</main>
@@include('../layout/footer.html')